body {
    height: 100%;
    margin: 0 auto !important;
    float: none !important;
    background-color: #333333;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.screen-content {
    width: 100%;
    height: 900px;
}

.progress-bar {
    width: 1100px;
    height: 40px;
    background-color: #9472cf;
    margin: 0 auto;
    margin-top: 55px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.progress-bar-filling {
    width: 100px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.progress-bar-img {
  position: absolute;
  top: -30px;
  left: -45px;
  width: 100px;
  height: 100px;
}

.progress-bar-img img {
  width: 100px;
  height: 100px;
  animation: spin 8s linear infinite;
}

.images-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}

.executive p {
    text-indent: 10px;
    font-size: 0.9em;
}

.executive h2 {
    font-size: 1.8em;
    font-weight: 300;
    color: white;
}

.executive h3 {
    font-weight: 400;
    font-size: 1.3em;
}

.executive h2 + h3 {
    margin-top: 5px;
}

.executive h2, h3 {
    text-align: center;
}

.executive {
    margin: 0 50px;
    width: 400px;
    height: 520px;
    background-color: #333333;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover; /* Scale the image to cover the entire div */
    background-repeat: no-repeat;
    position: relative;
    color: white;

    -webkit-box-shadow: 0px 10px 20px 6px #0f0f0f;
    -moz-box-shadow: 0px 10px 20px 6px #0f0f0f;
    box-shadow: 0px 10px 20px 6px #0f0f0f;
}

.executive img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 45px;
}

.executive-image-background {
  width: 100%;
  height: 280px;
  background-color: #fe0056;
  border-radius: 5px 5px 0 0
}

.hat {
  width: 105px;
  height: 105px;
  position: absolute;
  border-radius: 0;
  left: 78px;
  top: -15px;
}

.hat img {
  width: 100%;
  height: 100%;
}

.executive_info {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.status-div {
    width: 180px;
    height: 55px;
    background-color: #72d68c;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
}

.status-div h2 {
  font-size: 1.5em;
   line-height: 60px;
}
